 <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
        <a class="navbar-brand" href="<%=sevices_path %>">SBF Manifacturing Plant</a>
        
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li>
                       <a href="<%= sevices_path %>"><i class="fa fa-home fa-fw fa-2x"></i>Home</a>
                    </li>
                    <li>
                        <a href="<%= about_sevices_path %>"><i class="fa fa-pencil fa-fw fa-2x"></i>About Us</a>
                    </li>
                    <li>
                        <a href="<%=service_sevices_path %>"><i class="fa fa-users fa-2x"></i>Service</a>
                    </li>

                    <li>
                     <a href="<%=portfolio_sevices_path%>"><i class="fa fa-university fa-2x"></i>Portfolio</a>
                    
                    </li>

                     <li>
                        <a href="<%=contact_sevices_path %>">Contact</a>
                    </li>

                   <i class="fa fa-search"></i>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>



<div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>ABOUT US</strong>
                        <p> SFB has been serving the California community since 1997</p>
                    </h2>
                    <hr>
                </div>

                <div class="col-sm-4 text-center">
                    <h3>HOW WE ARE
                      <p>Lorem ipsum dolor sit amet, cor adipiscing elit. Praesent vestibulum molestie lacus. Aenenonummy hendrerit mauris. Phasellus porta. Fusct varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nasetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Mi nunc odio, gravida at, cursus nec, luctus a, lorem. 
                      </p>
                  </h3>
                  <header id="top" class="header">
                    <br>
                    <a href="<%=service_sevices_path%>" class="btn btn-dark btn-lg" >Find out more</a>
                  </header>

               </div>

               <div class="col-sm-4 text-center">
                    <h3>WHAT WE DO
                      <p>Lorem ipsum dolor sit amet, cor adipiscing elit. Praesent vestibulum molestie lacus. Aenenonummy hendrerit mauris. Phasellus porta. Fusct varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nasetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Mi nunc odio, gravida at, cursus nec, luctus a, lorem. 
                      </p>
                  </h3>
                  <header id="top" class="header">
                    <br>
                    <a href="<%=service_sevices_path%>" class="btn btn-dark btn-lg" >Find out more</a>
                  </header>
                   
                   


               </div>

               <div class="col-sm-4 text-center">
                    <h3>WHY ChOOSE US
                      <p>Lorem ipsum dolor sit amet, cor adipiscing elit. Praesent vestibulum molestie lacus. Aenenonummy hendrerit mauris. Phasellus porta. Fusct varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nasetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Mi nunc odio, gravida at, cursus nec, luctus a, lorem. 
                      </p>
                  </h3>

                  <header id="top" class="header">
                    <br>
                    <a href="<%=service_sevices_path%>" class="btn btn-dark btn-lg" >Find out more</a>
                  </header>

               </div>


                
            </div>
        </div>
    </div>
</div>