       <!-- Navigation -->

<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
</html>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
        <a class="navbar-brand" href="<%=sevices_path %>">SBF Manifacturing Plant</a>
        
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li>
                       <a href="<%= sevices_path %>"><i class="fa fa-home fa-fw fa-2x"></i>Home</a>
                    </li>
                    <li>
                        <a href="<%=about_sevices_path%>"><i class="fa fa-pencil fa-fw fa-2x"></i>About Us</a>
                    </li>
                    <li>
                        <a href="<%=service_sevices_path %>"><i class="fa fa-users fa-2x"></i>Service</a>
                    </li>

                    <li>
                    <a href="<%=portfolio_sevices_path%>"><i class="fa fa-university fa-2x"></i>Portfolio</a>
                    
                    </li>

                     <li>
                        <a href="<%=contact_sevices_path %>"><i class="fa fa-phone fa-2x"></i>Contact</a>
                    </li>
                    


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->

   <div class="carousel-caption">
    <div style="text-align:center;">
           INOVATION PERFORMANCE
    </div>
   </div>

    <div class="carousel-inner" role="listbox">
      <div class="item active">

        <%= image_tag image_path('banner'), width: 460, height: 345 %>
      </div>

      <div class="item">
        <%= image_tag image_path('s3'), width: 460, height: 345 %>
      </div>
    
      <div class="item">
        <%= image_tag image_path('page1-img19'), width: 460, height: 345 %>
      </div>
    </div>




 
  





    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
     
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>





 